body
{
    font-family: 'Lora', sans-serif;
    font-size: 160%;

    background-color: #0d5372;
}

header
{
    background-color: #d3d3d3;
}


h1,
h3
{
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;

    text-shadow: -1px 1px 3px #faf0e6;
}

.img-responsive
{
    margin: 0 auto;
}

.container-fluid
{
    width: 85%;

    background-color: #faf0e6;
}

.text-primary
{
    line-height: 155%;

    padding: 1em;

    color: #393333;
}

.content
{
    font-size: 120%;
    line-height: 145%;

    margin: 0 auto;
    padding-bottom: 2em;
}

.pagecopy
{
    margin-top: 8%;
    margin-bottom: 5%;
}

.releases
{


    background-color: #f2d0ae;
}

.releases img
{
    padding: 10% 0 10% 10%;
}

.info
{
    margin: 2% 0 5% 0;
    padding: 2em;

    text-align: center;

    background-color: #ccc5b9;
}
